*
  box-sizing border-box
  padding 0
  margin 0
  min-width 0
  outline none
  list-style none
  vertical-align middle
  -webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-tap-highlight-color: transparent;

input,button,textarea
  border-radius 0
  border 0
html,body
 background #f7f7f7
 width 100%
 box-sizing border-box
